// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@font-face {
  font-family: helveticaneuecyr;
  src: url(/fonts/HelveticaNeueCyr-Roman.ttf);
  font-weight: normal;
}

@font-face {
  font-family: helveticaneuecyr;
  src: url(/fonts/HelveticaNeueCyr-Medium.ttf);
  font-weight: bold;
}

@font-face {
  font-family: helveticaneuecyr;
  src: url(/fonts/HelveticaNeueCyr-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: helveticaneuecyr;
  src: url(/fonts/HelveticaNeueCyr-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: helveticaneuecyr;
  src: url(/fonts/HelveticaNeueCyr-LightItalic.ttf);
  font-weight: lighter;
  font-style: italic;
}

.w-120{
  width: 120% !important;
}
.w-100{
  width: 100% !important;
}
.w-75{
  width: 75% !important;
}
.w-50{
  width: 50% !important;
}
.w-25{
  width: 25% !important;
}
.h-100{
  height: 100% !important;
}
.h-75{
  height: 75% !important;
}
.h-50{
  height: 50% !important;
}
.h-25{
  height: 25% !important;
}
// .s-popup{
//   .row{
//     margin: 32px 0px !important;
//   }
// }
.s-time-picker{
  width: 300px;
}
@media screen and (max-width: 718px) {
  .s-popup{
    h2{
     font-size: 28px !important; 
    }
    .s-btn-text{
      span{
        font-size: 12px !important;
      }
    }
  }
}
@media screen and (max-width: 684px) {
  .s-time-picker{
    width: 270px;
  }
}
@media screen and (max-width: 634px) {
  .s-popup{
    h2{
      font-size: 25px !important; 
    }
    .s-btn-text{
      span{
        font-size: 11px !important;
      }
    }
    b{
      font-size: 14px !important;
    }
  }
}
@media screen and (max-width: 600px) {
  .s-popup{
    .s-popup-main{
      margin: 10px 28px !important;
    }
  }
}
@media screen and (max-width: 421px) {
  // .s-popup{
    .v-picker__body{
      width: 247px !important;
    }
    .v-date-picker-table{
      height: 237px !important;
    }
    // }
}

.v-application {
  font-family: 'helveticaneuecyr', serif !important;
}

.s-btn-text>.v-btn__content {
  padding-top: 4px;

  .v-icon {
    margin-top: -4px;
  }
}

.container {
  width: 98%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

hr.style-1 {
  overflow: visible;
  height: 0;
  max-width: 100px;
  margin: 20px auto;
  color: #000;
  border: none;
  border-bottom: solid 2px #000;
}

img {
  vertical-align: middle;
}

.v-application a {
  color: #0c0c0c;
  text-decoration: none;
}

.underlined {
  text-decoration: underline !important;
}
.underlined-onhover:hover {
  text-decoration: underline !important;
}
h1 {
  font-size: 46px;
  font-weight: bold;
  padding-bottom: 20px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 20px;
}

h3 {
  font-size: 32px;
  font-weight: normal;
  padding-bottom: 20px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
.cartIcon{
  background-color: black;
  border-radius: 50px;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: bottom;
  font-size: 13px;
  padding-top: 1px;
  display: inline-block;
}
.s-text-h2 {
  font-size: 25px;
  font-weight: bold;
}

.s-card-good {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #c0c0c0!important;
  border-radius: 0!important;
  height: 100%;
  &:hover {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
  }
}

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > td:not(.v-data-table__mobile-row), .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > th:not(.v-data-table__mobile-row) {
  border-bottom: none;
}

.s-catalog-gallery {
  border: 1px solid #DDDDDD!important;
  &.active {
    border-bottom: 3px solid #030303!important;
  }
}
.s-catalog-gallery-small {
  border: 1px solid #DDDDDD!important;
  &.active {
    background-color: #030303!important;
    border-radius: 50px;
  }
}

.v-sheet.v-card {
  border-radius: 0;
}

.s-btn-cart {
  padding: 20px 34px!important;
  font-weight: bold;
}

.s-btn-cart-small {
  padding: 20px 16px !important;
  font-weight: bold;
}

ol>li {
  margin-bottom: 10px;
}

.v-carousel {
  overflow: inherit !important;
}

.v-application--is-ltr .v-window__next {
    width: 50px;
    height: 50px;
    border: 1px solid #cacaca;
    background: #fff;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-application--is-ltr .v-window__prev {
    width: 50px;
    height: 50px;
    border: 1px solid #cacaca;
    background: #fff;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
  }

tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .05);
}

.img-cover .v-image__image--contain{
  background-size: cover !important;
}
.space-check{
    margin-top: 5px !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #797979 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.s-menu-catalog {
  height: fit-content;
  z-index: 1000;
  position: relative;
  top: -20px;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: #FFF;

  &.show {
    display: block;
  }

  .s-catalog-brends {
    margin-top: 40px;
    border-top: #c4c4c4 solid 2px;
    padding-top: 40px;

    .s-catalog-brends-links a {
      color: #c4c4c4 !important;
    }
  }

}
@media screen and(max-width: 600px) {
  .s-menu-catalog{
    top: -25px;
  }
}
.s-catalog-links {
  .s-catalog-links-el {
    .s-catalog-links-el-icon {
      filter: invert(60%);
      width: 40px;
      display: inline-block;
    }

    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    padding: 5px;
    width: 50%;

    &:hover {
      background: rgba(0, 0, 0, 0.03);
    }
    
    &.active {
      background: rgba(0, 0, 0, 1);
      color: #fff !important;
      a{
        color: #fff !important;
      }
    }
  }
}
.s-catalog-links-common{
  .s-catalog-links-el {

    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    padding: 5px;
    padding-bottom: 10px;
    // width: 50%;

    &:hover {
      background: rgba(0, 0, 0, 0.03);
    }
    
    &.active {
      border-bottom:  rgba(0, 0, 0, 1) solid 1px;
      font-weight: bold;
      // color: #fff !important;
      a{
        color: #fff !important;
      }
    }
  }
}
.s-catalog-hr{
  height: 1px;
  border-top:  rgba(0, 0, 0, 0.12) solid 1px;
}
.s-pages-main{
  .s-delivery-img{
    z-index: 90;
    .v-image__image{
      background-position: unset !important;
    }
  }
}
@media screen and (max-width: 600px) {
  .s-catalog-links-el{
    width: 100% !important;
  }
  .common-links{
    div:first-child{
      width: 100% !important;
    }
  }
}
.s-catalog-down-links{
    cursor: pointer;
    font-size: 18px;
    display: inline-block;
    margin: 0;
    padding: 5px;
    &:hover {
      background: rgba(0, 0, 0, 0.03);
    }
    
    &.active {
      background: rgba(0, 0, 0, 1);
      color: #fff !important;
      a{
        color: #fff !important;
      }
    }
}
.common-links{
  a{
    color: #636363;
    padding: 10px;
    font-size: 13px;

  }
  a:not(:last-child){
    margin-right: 20px;
  }
}
.s-menu-catalog-left {
  // border-right: solid 2px #c4c4c4;
  width: 100%;
  // position: absolute;
  // left: 0;
  // bottom: 0;
  // top: 0;
}

.s-menu-catalog-right {
  width: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}

.v-btn--is-elevated {
  box-shadow: none;
}

.theme--light.v-btn.v-btn--has-bg {
  background-color: #fff;
  border: 1px solid rgb(99, 99, 99);
}

.s-btn-main {
  padding: 23px 54px !important;
}

.v-btn--fab .v-btn__content {
  padding-top: 0px !important;
}

.theme--light.v-btn--active::before {
  opacity: 0;
}

.v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: none;
}

.s-btn-else {
  i {
    background: #000;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.v-tab {
  text-transform: none;
  font-weight: bold;
}

.s-popup {
  background: #fff;
  padding: 10px;
  overflow: auto;
}

.v-date-picker-header.theme--light {
  background: #222222;
}
.theme--light.v-btn.v-btn--icon {
  color: #fff;
}

.theme--light.v-date-picker-header .v-date-picker-header__value:not(.v-date-picker-header__value--disabled) button:not(:hover):not(:focus) {
  color: #fff;
}
.row{
  margin: 0;
}
.row.s-row {
  // margin: -23px;
  .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1  {
    padding: 23px;
  }
}

.s-tail-header {
  display: flex;
  flex: 1 1 auto;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 20px;
  .s-tail-header-title {
    color: #222222;
    border-bottom: 3px solid transparent;
    padding: 10px 0;
    margin: 0 24px 0 0 ;
    opacity: .3;
    cursor: pointer;
    img {
      padding-right: 16px;
    }
    &.active {
      opacity: 1;
      border-bottom: 3px solid #222222;
    }
    .s-taile-count {
      display: inline-block;
      font-size: 14px;
      vertical-align: super;
      margin-left: 10px;
    }
  }
}

.s-btn-tail-select {
  width: 48px;
  text-transform: lowercase;
}
.favorite{
  display: none !important;
}

.s-filterResult{
  visibility: hidden;
  // display: none;
  background-color: #000;
  position: relative;
  // left: calc(100% + 10px);
  left: 115%;
  z-index: 100;
  border: 1px black solid;
  padding: 10px;
  width: 350px;
  top: 0px;
  border-radius: 4px;
  margin-bottom: -58px;
}
.s-filterResultVisible{
  visibility: visible !important;
}
.s-filterResult:after {
  content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 10px solid;
  border-color: transparent black transparent transparent;
  top: 50%;
  right: 100%;
  margin-top: -10px;
}
.s-pagination{
    padding-left: 0 !important;
    align-items: center;
    display: inline-flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    max-width: 100%;
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    background-color: #FFFFFF;

}
.s-pagination__navigation{
  border-radius: 50%;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    height: 32px;
    width: 32px;
    margin: 0.3rem 10px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
}
.s-pagination__item{
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.87);
  background: transparent;
  font-size: 1rem;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.s-pagination__more{
  margin: 0.3rem;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  height: 32px;
  width: 32px;
}
.s-pagination__item--active{
  color: #FFFFFF;
  background-color: #222222;
}
// .s-footer{
//   a{
//     font-size: 90%;
//   }
// }
@media screen and (max-width: 600px) {
  .s-static-main{
    h1{
      font-size: 37px !important;
    }
    h2{
      font-size: 28px !important;
    }
    h3{
      font-size: 25px !important;
    }
  }
}
@media screen and (max-width: 425px) {
  .s-static-main{
    h1{
      font-size: 30px !important;
    }
    h2{
      font-size: 25px !important;
    }
    h3{
      font-size: 20px !important;
    }
    .publicOffer{
      font-size: 17px !important;
    }
  }
}